[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamodded/smods
[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/TooManyJokers"]
	path = Mods/TooManyJokers
	url = https://github.com/cg-223/toomanyjokers
[submodule "Mods/DiscoveryManager"]
	path = Mods/DiscoveryManager
	url = https://github.com/lshtech/DiscoveryManager
[submodule "Mods/HeyListen"]
	path = Mods/HeyListen
	url = https://github.com/SleepyG11/HeyListenBalatro
[submodule "Mods/Blueprint"]
	path = Mods/Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/NeowBlessings"]
	path = Mods/NeowBlessings
	url = https://github.com/lshtech/NeowBlessings
[submodule "Mods/BBBalatro"]
	path = Mods/BBBalatro
	url = https://github.com/BBBalatroMod/BBBalatro
[submodule "Mods/Balatro-Jokers-Plus"]
	path = Mods/Balatro-Jokers-Plus
	url = https://github.com/KaviD-115/Balatro-Jokers-Plus
[submodule "Mods/BalatroOlympus"]
	path = Mods/BalatroOlympus
	url = https://github.com/lshtech/BalatroOlympus
[submodule "Mods/BossJokers"]
	path = Mods/BossJokers
	url = https://github.com/KilledByLava/BossJokers
[submodule "Mods/Cosmos"]
	path = Mods/Cosmos
	url = https://github.com/neatoqueen/Cosmos
[submodule "Mods/ExtendedBlueprint"]
	path = Mods/ExtendedBlueprint
	url = https://github.com/Toneblock/balatro-ExtendedBlueprint
[submodule "Mods/ExtraCredit"]
	path = Mods/ExtraCredit
	url = https://github.com/GuilloryCraft/ExtraCredit
[submodule "Mods/FasterAnteScaling"]
	path = Mods/FasterAnteScaling
	url = https://github.com/castleCodr/FasterAnteScaling
[submodule "Mods/JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/spikeof2010/JankJonklers
[submodule "Mods/JestersPrivilege"]
	path = Mods/JestersPrivilege
	url = https://github.com/unethikeele/JestersPrivilege
[submodule "Mods/JoJokers"]
	path = Mods/JoJokers
	url = https://github.com/WarlordShado/JoJokers
[submodule "Mods/MOARJokers"]
	path = Mods/MOARJokers
	url = https://github.com/MrSmoothieHuman1/MOARJokers
[submodule "Mods/PampaJokerPack"]
	path = Mods/PampaJokerPack
	url = https://github.com/lshtech/balatro-pampa-joker-pack
[submodule "Mods/NotJustYet"]
	path = Mods/NotJustYet
	url = https://github.com/Toneblock/balatro-NotJustYet
[submodule "Mods/Multi-Jokers"]
	path = Mods/Multi-Jokers
	url = https://github.com/lshtech/multi-jokers
[submodule "Mods/MoreJokerPacks"]
	path = Mods/MoreJokerPacks
	url = https://github.com/Samario1/MoreJokerPacks
[submodule "Mods/Ro-Balatro-Reborn"]
	path = Mods/Ro-Balatro-Reborn
	url = https://github.com/AlexZGreat/Ro-Balatro-Reborn
[submodule "Mods/SDM_0-s-Stuff"]
	path = Mods/SDM_0-s-Stuff
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "Mods/Seven-Deadly-Sins"]
	path = Mods/Seven-Deadly-Sins
	url = https://github.com/lshtech/sevendeadlysins
[submodule "Mods/Warpzone"]
	path = Mods/Warpzone
	url = https://github.com/frangnosquest/Warpzone
[submodule "Mods/Joker-Evolution"]
	path = Mods/Joker-Evolution
	url = https://github.com/SDM0/Joker-Evolution
[submodule "Mods/NoFantasy"]
	path = Mods/NoFantasy
	url = https://github.com/fantasygone/nofantasyJokers/
[submodule "Mods/AdAbsurdum"]
	path = Mods/AdAbsurdum
	url = https://github.com/7f-galaxii/AdAbsurdum
[submodule "Mods/CelesteCardCollection"]
	path = Mods/CelesteCardCollection
	url = https://github.com/AuroraKy/CelesteCardCollection
[submodule "Mods/Bird-Jokers"]
	path = Mods/Bird-Jokers
	url = https://github.com/JustinBanzon/Bird-Jokers
[submodule "Mods/Planet-Card-Cash-Out"]
	path = Mods/Planet-Card-Cash-Out
	url = https://github.com/antler5/Balatro-Planet-Card-Cash-Out-Mod
[submodule "Mods/KCVanilla"]
	path = Mods/KCVanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Mods/MetroCard"]
	path = Mods/MetroCard
	url = https://github.com/JegMetroCard/MetroCard
[submodule "Mods/JokerSellValue"]
	path = Mods/JokerSellValue
	url = https://github.com/OppositeWolf770/JokerSellValue
[submodule "Mods/Tesseract"]
	path = Mods/Tesseract
	url = https://github.com/hyperxwastaken/Tesseract
[submodule "Mods/FlushHotkeys"]
	path = Mods/FlushHotkeys
	url = https://github.com/Dimserene/FlushHotkeys
[submodule "Mods/Unsorted"]
	path = Mods/Unsorted
	url = https://github.com/Telbone/Unsorted
[submodule "Mods/Revos-Vault"]
	path = Mods/Revos-Vault
	url = https://github.com/Cdrvo/Revos-Vault---Balatro-Mod
[submodule "Mods/YACBM"]
	path = Mods/YACBM
	url = https://github.com/Trif3ctal/YACBM
[submodule "Mods/NeatoJokers"]
	path = Mods/NeatoJokers
	url = https://github.com/neatoqueen/NeatoJokers
[submodule "Mods/SystemClock"]
	path = Mods/SystemClock
	url = https://github.com/Breezebuilder/SystemClock
[submodule "Mods/SarcPot"]
	path = Mods/SarcPot
	url = https://github.com/SarcPot/sarcpot-mod
[submodule "Mods/LuckyJimbos"]
	path = Mods/LuckyJimbos
	url = https://github.com/MamiKeRiko/luckyjimbos
[submodule "Mods/TherkleDoodles"]
	path = Mods/TherkleDoodles
	url = https://github.com/TherkLe/therkledoodles
[submodule "Mods/Maeveys-Jokers"]
	path = Mods/Maeveys-Jokers
	url = https://github.com/maeveynogget/maeveys-jokers
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus
[submodule "Mods/JokerHub"]
	path = Mods/JokerHub
	url = https://github.com/sup3p/JokerHub
[submodule "Mods/Buffoonery"]
	path = Mods/Buffoonery
	url = https://github.com/pinkmaggit-hub/Buffoonery
[submodule "Mods/Isaactro"]
	path = Mods/Isaactro
	url = https://github.com/WilliamFlinchbaugh/Isaactro
[submodule "Mods/AzzysJokers"]
	path = Mods/AzzysJokers
	url = https://github.com/AstrumNativus/AzzysJokers
[submodule "Mods/Plantain"]
	path = Mods/Plantain
	url = https://github.com/IcebergLettuce0/Plantain
[submodule "Mods/DeckStickerShowEverywhere"]
	path = Mods/DeckStickerShowEverywhere
	url = https://github.com/qwerty9118/DeckStickerShowEverywhere
[submodule "Mods/Paperback"]
	path = Mods/Paperback
	url = https://github.com/Balatro-Paperback/paperback
[submodule "Mods/Victins-Collection"]
	path = Mods/Victins-Collection
	url = https://github.com/VictinZero/balatro-victins-collection
	branch = alpha
[submodule "Mods/Reverse_Tarots"]
	path = Mods/Reverse_Tarots
	url = https://github.com/Dimserene/Reverse_Tarots
[submodule "Mods/Jimbos_Metrics"]
	path = Mods/Jimbos_Metrics
	url = https://gitlab.com/CraftedCart/jimbos_metrics/
[submodule "Mods/Prism"]
	path = Mods/Prism
	url = https://github.com/blazingulag/Prism
[submodule "Mods/JamMod"]
	path = Mods/JamMod
	url = https://github.com/WilsontheWolf/JamMod
[submodule "Mods/SharrisMod"]
	path = Mods/SharrisMod
	url = https://github.com/itsSharri/SharrisMod
[submodule "Mods/LuckyLegends"]
	path = Mods/LuckyLegends
	url = https://github.com/Dimserene/LuckyLegends
[submodule "Mods/Sticker-Sheet"]
	path = Mods/Sticker-Sheet
	url = https://github.com/Dimserene/Sticker-Sheet
[submodule "Mods/SyltStickers"]
	path = Mods/SyltStickers
	url = https://github.com/Dimserene/SyltStickers
[submodule "Mods/Betmma_mods"]
	path = Mods/Betmma_mods
	url = https://github.com/Dimserene/Betmma_mods
[submodule "Mods/Handsome-Devils"]
	path = Mods/Handsome-Devils
	url = https://github.com/AlexanderAndersonAmenAmen/Handsome-Devils-Vanilla-mod-
[submodule "Mods/Mistigris"]
	path = Mods/Mistigris
	url = https://github.com/astrapboy/Mistigris
[submodule "Mods/TheKorczakPack"]
	path = Mods/TheKorczakPack
	url = https://github.com/flypotato123/TheKorczakPack
[submodule "Mods/Wombats-Obscure-Jokers"]
	path = Mods/Wombats-Obscure-Jokers
	url = https://github.com/wombatCountry/wombats-obscure-jokers
[submodule "Mods/TOGAs-Stuff"]
	path = Mods/TOGAs-Stuff
	url = https://github.com/TheOneGoofAli/TOGAPackBalatro
[submodule "Mods/Splatro"]
	path = Mods/Splatro
	url = https://github.com/Maratby/Splatro/
[submodule "Mods/Magpy-s-Oddities"]
	path = Mods/Magpy-s-Oddities
	url = https://github.com/magpyfeather/Magpy-s-Oddities
[submodule "Mods/PumpkinJokesters"]
	path = Mods/PumpkinJokesters
	url = https://github.com/PumpkinHook/PumpkinJokesters
[submodule "Mods/KLGB76-s-Joker-Pack"]
	path = Mods/KLGB76-s-Joker-Pack
	url = https://github.com/KLGB76/KLGB76-s-Balatro-Joker-Pack
[submodule "Mods/GARBSHIT"]
	path = Mods/GARBSHIT
	url = https://github.com/Dimserene/GARBSHIT/
[submodule "Mods/Opandoras-Box"]
	path = Mods/Opandoras-Box
	url = https://github.com/ohpahn/opandoras-box/
[submodule "Mods/DRCAABM"]
	path = Mods/DRCAABM
	url = https://github.com/a-memer/Deliriums-Really-Cool-And-Awsome-Balatro-Mod
[submodule "Mods/Banner"]
	path = Mods/Banner
	url = https://github.com/SylviBlossom/Banner
[submodule "Mods/Bakery"]
	path = Mods/Bakery
	url = https://github.com/BakersDozenBagels/BalatroBakery
[submodule "Mods/Wee-Laddies"]
	path = Mods/Wee-Laddies
	url = https://github.com/SergantDolt/wee-lads
[submodule "Mods/No-Stake-Tooltip"]
	path = Mods/No-Stake-Tooltip
	url = https://github.com/SDM0/No-Stake-Tooltip
[submodule "Mods/View-Deck-Pages"]
	path = Mods/View-Deck-Pages
	url = https://github.com/RattlingSnow353/View-Deck-Pages
[submodule "Mods/AetherJokers"]
	path = Mods/AetherJokers
	url = https://github.com/BustyCatbot/AetherJokers
[submodule "Mods/Quilombo"]
	path = Mods/Quilombo
	url = https://github.com/acetna/Quilombo
[submodule "Mods/TerraPotions"]
	path = Mods/TerraPotions
	url = https://github.com/Row-set-te/BalatroTerraPotions
[submodule "Mods/TerrariaXBalatro"]
	path = Mods/TerrariaXBalatro
	url = https://github.com/misenrol/TerrariaXBalatro
[submodule "Mods/Glue-For-Modpacks"]
	path = Mods/Glue-For-Modpacks
	url = https://github.com/Dimserene/Glue-For-Modpacks
[submodule "Mods/Luttrelliums-Singularity"]
	path = Mods/Luttrelliums-Singularity
	url = https://github.com/Luttrellium/Luttrelliums-Singularity---Balatro-Mod
[submodule "Mods/Gemstones"]
	path = Mods/Gemstones
	url = https://github.com/0fficialHalo/Gemstones
[submodule "Mods/MoreFluff"]
	path = Mods/MoreFluff
	url = https://github.com/notmario/MoreFluff
[submodule "Mods/Talisman"]
	path = Mods/Talisman
	url = https://github.com/Dimserene/Talisman
[submodule "Mods/TheDreadJokers"]
	path = Mods/TheDreadJokers
	url = https://github.com/Dimserene/TheDreadJokers
[submodule "Mods/Maximus"]
	path = Mods/Maximus
	url = https://github.com/the-Astra/Maximus
[submodule "Mods/Sticky-Fingers"]
	path = Mods/Sticky-Fingers
	url = https://github.com/eramdam/sticky-fingers
